:root {
    --color-primary: hsl(174, 50%, 90%);
    --color-secondary: hsl(174, 50%, 10%);
    --color-tertiary: hsl(234, 80%, 20%);
    --color-accent: hsl(114, 80%, 20%);
}
.dark {
    --color-primary: hsl(174, 50%, 10%);
    --color-secondary: hsl(174, 50%, 90%);
    --color-tertiary: hsl(234, 80%, 80%);
    --color-accent: hsl(114, 80%, 80%);
}